@model CompanyEmployees.Client.Models.ClienteViewModel

<title>Edit Cliente</title>

<h3>Edit Cliente </h3>
<form method="post" asp-controller="home" asp-action="edit">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputState">Tipo</label>
            <select id="inputState" class="form-control" asp-for="tipo">
                <option selected>seleccione...</option>
                <option>Cliente</option>
                <option>Proveedor</option>
            </select>
        </div>

        <div class="form-group col-md-6">
            <label for="inputEmail4">Nombres</label>
            <input type="text" class="form-control" id="inputEmail4" asp-for="nombres">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Apellidos</label>
            <input type="text" class="form-control" id="inputPassword4" asp-for="apellidos">
        </div>
        <div class="form-group col-md-6">
            <label for="inputState">Documento</label>
            <select id="inputState" class="form-control" asp-for="documento">
                <option selected>seleccione...</option>
                <option>DNI</option>
                <option>Otros</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Numero</label>
            <input type="text" class="form-control" id="inputPassword4" asp-for="numero">
        </div>
    </div>
    <div class="form-group">
        <label for="inputAddress">Direccion</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" asp-for="direccion">
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCity">Telefono</label>
            <input type="text" class="form-control" id="inputCity" asp-for="telefono">
        </div>

        <div class="form-group col-md-2">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" asp-for="email">
        </div>
    </div>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
                Check me out
            </label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <input type="hidden" asp-for="codigoCliente">
</form>